@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg-navbar-t {
    background-color: transparent !important;
}
.bg-home {
    background-image: url(bg-home.png);
    background-size: cover;
    height: 100vh;
}
.bg-elements {
    margin-left: 50%;
    margin-top: 15%;
}
.bg-elements-h{
    font-size: 60px;
    line-height: 0.9;
    margin-bottom: 40px;
}
.down-arrow{
    background-color: transparent;
    border: 0;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

.image-au {
    height: 95vh;
    width: 100%;
    border-radius: 24px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cost-bs{
    margin-left: 50px;
}

.product-name-bs {
    margin-right: 50px;
}

.product-name-c {
    text-align: center;
}

.email-input-cc {
    border: 0;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 0 !important;
}

.button-cc {
    border: 0;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 150px;
}



.vr-logo-fs {
    height: 56px;
    width: 163px;
}

.icon-fs {
    color: black;
    font-size: 18px;
}

.logo-styling {
    background-color: white;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.address-fs {
    font-size: 16px;
    color: black;
    font-weight: 400;
    font-family: "Roboto";
}

.list-fs {
    list-style-type: none;
    padding-left: 0;
}

.list-item-fs {
    font-size: 16px;
    color: black;
    font-weight: 400;
    font-family: "Roboto";
}

.heading-fs {
    font-family: "Roboto";
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.line1 {
    background-color: black;
}

.copyright-fs {
    color: black;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}