*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root{
    --grey:#F4F2FF;
    --dark-grey:#B7B7B7;

    --green: #23AE00;
    --light-green: #BDFFAC;

    --red:#FE2727;
    --light-red:#FFD2D2;

    --blue: #277FFE;
    --light-blue:#B6C6FF;
    --dark-blue:#1368E3;

    --bs:#AECFFF;
    --text:#9B9B9B;
}
a{
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 100px;
    transition: all .3s ease;
   
   
}
a:hover{
    color: var(--dark-blue)
}
p{
    text-align: center;
}
body{
    
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 16px;
}
.container{
    max-width: 400px;
    width:100%;
    position:relative;
}
form{
   
    width:100%;
    padding:30px;
    border-radius: 12px;
    background:#f8f6f6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(.8);
    opacity: 0;
    z-index: 100;
    transition: all .3s ease;
    transition-delay: 0s;
}
form.active{
  transform: translateY(-50%) ;
  opacity: 1;
  z-index: 200;
  transition-delay: .3s;  
}
.loginlogo{
    text-align: center;
    margin: 14px 0 12px 0;
}

img.logo{
    width:30%;
   
}
.loginlogo1{
    text-align: center;
    margin-top:5px ;
}
img.logo1{
    width:30%;
}
.title{
    font-size: 16px;
    font-weight:300;
    margin-bottom:20px;
    text-align: center;
}
.form-group{
    margin-bottom: 14px;
}
.form-group label{
    display:inline-block;
    margin-bottom: 4px;
}
.input-group{
    width:100%;
    position: relative;
}
.input-group input{
    border :none;
    border-style: solid;
    border-width: 0px;
   border-color: none;
    border-radius: 60rem;;
    padding:12px 40px 12px 20px;
    
   background-color:#e0dede;
   
    width:100%;
    transition: all .3s ease;
}
/*validation*/
.input-group input:focus,
.input-group input:not(:placeholder-shown){
    outline: none;
    border-color:var(--blue);
   /* background: var(--grey);*/
}
.input-group input:focus + i ,
.input-group input:not(:placeholder-shown)+i{
    color: var(--blue);
}
.input-group input:focus:valid{
    box-shadow: 0 0 0  4px var(--light-green);
}
.input-group input:valid:not(:placeholder-shown){
    border-color: var(--green);
}
.input-group input:valid:not(:placeholder-shown)+i{
    color: var(--green);
}
.input-group input:invalid:not(:placeholder-shown){
    border-color: var(--red);
}
.input-group input:invalid:not(:placeholder-shown)+i{
    color: var(--red);
}
.input-group input:focus:invalid{
    box-shadow: 0 0 0 4px var(--light-red);
}
.input-group input:focus,
.input-group input:focus:placeholder-shown{
    box-shadow: 0 0 0 4px var(--bs);
}



  /*validation*/
.input-group i{
    position: absolute;
    top:50%;
    transform: translateY(-50%) ;
    right:20px;
    color:var(--text);
    pointer-events:none;
    transition: all .3s ease;
}
.form-group .help-text{
    font-size: 12px;
    color: var(--text)
}
.log-button{
    border-style: solid;
    border-radius: 60rem;
    padding:12px 40px 12px 20px;

    transition: all .3s ease;
    display: flexbox;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition:all .3s ease;    
    font-size: medium;
    font-weight: 600;
    background:black;
    margin-top: 10px;
}
.log-button:hover{
    background:rgb(87, 57, 11);
}
.reg-button{
    border-style: solid;
    border-radius: 60rem;
    padding:12px 40px 12px 20px;
    
    transition: all .3s ease;
    
    color: #fff;
    cursor: pointer;
    transition:all .3s ease;    
    font-size: medium;
    font-weight: 600;
    background:black;
    margin-top: 10px;
}
.reg-button:hover{
    background:rgb(87, 57, 11);
}
.btn-submit{
  
    border-style: solid;
    border-radius: 60rem;
    padding:12px 40px 12px 20px;
    
    transition: all .3s ease;
    display: block;
    width: 100%;
    color: #fff;
    cursor: pointer;
    transition:all .3s ease;    
    font-size: medium;
    font-weight: 600;
    background:black;
    margin-bottom: 20px;
}
.btn-submit:hover{
    background:rgb(87, 57, 11);
}
