<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/95f4248091.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://kit.fontawesome.com/95f4248091.css" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop Page</title>
        <link rel="stylesheet" href="Mainpage.css">
        <link rel="stylesheet" href="css/s.css">
        <script async src="https://tally.so/widgets/embed.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <style>
          .navbar-logo {
          height: 35px;
          width: 163px;
          padding-left: 10px;
          padding-top: 4px;
      }
    </style>
</head>
<body class="all-page-font">
    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar-t p-md-1 fixed-top"> 
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#"><img src="img/Nav Logo.png" class="navbar-logo" alt=""></i></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          
          <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle-navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#sectionHome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="Shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#sectionFooter">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="cart">Cart
                      <div class="cart">
                      <div id="cartAmount" class="cartAmount"> 0 </div> 
                    </i></div></a>
                </li>
               <li class="nav-item account">
                    <a class="nav-link text-light"  id="cart-account-link" href="Account">Account</a>
                </li>
            </ul>
        </div>
        </div>
      </nav>
   
    <div class="container-fluid">
        <div id="sectionHome" class="row mb-5 bg-home">
            <div class=" col-12">
                <div class="text-white bg-elements w-50 d-flex flex-column justify-content-end">
                   
                    <h1 class="bg-elements-h">

                        Sustainable <span class="font1">haircare</span> has <span class="font1">never</span> looked this good.
                        
                        </h1>
                    <p class="bg-elements-p"> 
                        Shop the new collection of haircare products organically<br/>
                        formulated for healthy hair.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="sectionAboutUs" class="row mb-5">
            <div class="col-12 col-lg-6">
                <img src="img/about us product.png" class="image-au m-5"/>
            </div>
            <div class="col-12 col-lg-6">
                <h1 class="m-5">Our ingredients are sourced with the highest sustainability practices in mind.</h1>
                <p class="m-5">Isra<i>Organics</i> was launched in November 2022 with the aim of revolutionising the current state of the haircare industry.</p>
                <a href="AboutUs"><button class="button-au m-5">Learn more</button></a>
            </div>
        </div>
        <div id="sectionBestSellers" class="row mb-5">
            <div class="col-12">
                 <h1 class="mb-4">Shop our <span class="font1">bestsellers</span></h1>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Olive-infused Cleansing Gel.png" class="w-100 pb-2 images-bs" />
                <div class="d-flex flex-row">
                    <p class="product-name-bs w-75">Cleaning Gel</p>
                    <p class="cost-bs w-25">£17</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Rejuvenating Oil.png" class="w-100 pb-2 images-bs" />
                <div class="d-flex flex-row">
                    <p class="product-name-bs">Rejuvenating Oil</p>
                    <p class="cost-bs">£15</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Sea Weed Travel Serum.png" class="w-100 pb-2 images-bs" />
                <div class="d-flex flex-row">
                    <p class="product-name-bs w-75">Serum</p>
                    <p class="cost-bs w-25">£15</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Spray-on Olive Conditioner.png" class="w-100 pb-2 images-bs" />
                <div class="d-flex flex-row">
                    <p class="product-name-bs w-75">Olive Conditioner</p>
                    <p class="cost-bs w-25">£13</p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="Shop"><button class="button-cc p-2">Shop Now</button></a>
            </div>
        </div>
        <div id="sectionCategory" class="row mb-5">
            <div class="col-12">
                 <h1 class="mb-4">Shop by <span class="font1">category</span></h1>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Citrus-infused Serum.png" class="w-100 pb-2 images-bs" />
                <p class="product-name-c">Serums</p>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Flaxseed Cleansing Set.png" class="w-100 pb-2 images-bs" />
                <p class="product-name-c">Cleansers</p>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Leave-in Conditioner.png" class="w-100 pb-2 images-bs" />
                <p class="product-name-c">Conditioners</p>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Sea Weed Moisturiser.png" class="w-100 pb-2 images-bs" />
                <p class="product-name-c">Moisturisers</p>
            </div>
            <div class="col-12 col-md-3">
                <img src="img/Sea Weed Moisturiser.png" class="w-100 pb-2 images-bs" />
                <p class="product-name-c">Moisturisers</p>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                <h3 class="pl-5 mb-5">Head to our shop to view our different categories!</h3>
                <div class="d-flex justify-content-center">
                    <a href="Shop"><button class="button-cc p-2">Shop Now</button></a>
                </div>
            </div>
        </div>
        <div id="sectionCompanyCommunity" class="row mb-5">
            <div class="col-12 col-md-7">
                <h1>Join the IsraOrganics Community</h1>
                <p>Subscribe to our mailing list to be among the first people to receive announcements, deals, and new product offerings.</p>
                <input id="communityEmailInput" class="email-input-cc p-2" placeholder="   Email" />
                <button class="button-cc p-2">Subscribe</button>
            </div>
            <div class="col-12 col-md-5">
                <h1>Disclaimer</h1>
                <p>All images containing human faces used on this website are licensed by Unsplash for free use on both personal and commercial projects. The products as well as their descriptions are conceptual and not for realistic use.</p>
            </div>
        </div>
        <div id="sectionFooter" class="bg-container-fs pt-5 pb-5">
            <hr class="line1" />
            <div class="row pl-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="text-center text-md-left">
                        <img src="img/Company-logo-2.png" class="vr-logo-fs" />
                        <div class="d-flex flex-row justify-content-center justify-content-md-start mt-3 mb-3">
                            <div class="logo-styling">
                                <i class=""></i> <!--fab fa-google icon-fs-->
                            </div>
                          
                            <div class="logo-styling">
                                <i class="fa-brands fa-tiktok icon-fs" style="color: #111212;"></i>
                            </div>
                            <div class="logo-styling">
                                <i class="fab fa-discord icon-fs" style = "color: #0c0d0d;"></i>
                            </div>
                        </div>
                       
                        <p class="address-fs">

                            Email: info@israorganics.com
                            
                            <!--quick contact button-->
                            
                            <button class="btn btn-dark button-cc mt-3" data-tally-open="mBaB4K" data-tally-emoji-text="👋" data-tally-emoji-animation="wave" data-tally-auto-close="1500">Quick Contact</button>
                            
                            </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mt-3">
                    <h1 class="heading-fs mb-3">Get to know us</h1>
                    <ul class="list-fs">
                        <li class="list-item-fs">About us</li>
                        <li class="list-item-fs">Career</li>
                        <li class="list-item-fs">Press Release</li>
                        <li class="list-item-fs">Gift a smile</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 mt-3">
                    <h1 class="heading-fs mb-3">Socials</h1>
                    <ul class="list-fs">
                        <li class="list-item-fs list-item-a-fs"><a target="_blank" href="https://www.tiktok.com/@isra_organics?_t=8b6OEeUeWYf&_r=1">Tiktok</a></li>
                        
                        <li class="list-item-fs list-item-a-fs"><a target="_blank" href="https://discord.com/invite/WSaT9v3m">Discord</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 mt-3">
                    <h1 class="heading-fs mb-3">Quick Links</h1>
                    <ul class="list-fs">
                        <li class="list-item-fs">Terms of service</li>
                        <li class="list-item-fs">Refund Policy</li>
                        <li class="list-item-fs">Return</li>
                        <li class="list-item-fs"><a class="list-item-fs-a" href="">Help</a></li>
                    </ul>
                </div>
            </div>
            <hr class="line1" />
            <div class="text-center">
                <i class="fa fa-copyright icon-fs" aria-hidden="true"></i>
                <span class="copyright-fs">
                    2023. Created by Team-5, MSc Computer Science, Aston University.
                </span>
            </div>
        </div>
    </div>
    <script src="js/s.js"></script>
    <script src="js/login&createaccount.js"></script>
    <script>
        const navbar=document.querySelector('.navbar');

window.addEventListener('scroll',() =>{
    if(scrollY >= 170){
      navbar.classList.add('bg');
    }
    else{
      navbar.classList.remove('bg');
    }
console.log(scrollY);
})
</script>
<script src="js/login&createaccount.js"></script>
    <!--<script type="text/javascript" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"></script> -->
</body>
    
    
</html>